# Selecting the config of ARCH_ZYNQMP platform support is not enough to
#   get decent support for zynqmp boards

# don't existing in v6.6 or can't be tuned on

# This won't get enabled no matter what I try
# it requires COMPILE_TEST which we wont enable
# otherwise it seems to exist for use in a select Kconfig statement
# but no other reference to this symbol exists in all Kconfig files
# _CADENCE_TTC_TIMER=y

# Marked broken in v6.6
# _LEDS_TRIGGER_GPIO=y

# do not exist
# _XILINX_PHY=y
# _GPIO_SLG7XL45106=y
# _CRYPTO_DEV_ZYNQMP=m
# _CRYPTO_DEV_ZYNQMP_KECCAK_384=m
# _CRYPTO_DEV_ZYNQMP_AES_SKCIPHER=m
# _CRYPTO_DEV_XILINX_RSA=m
# _EDAC_XILINX_DDR=y





