# WIP: shotgun experiments for HDMI display

# DRM stuff defined in config of Xilinx 2023.2
CONFIG_DRM=m
CONFIG_DRM_KMS_HELPER=m
CONFIG_DRM_FBDEV_EMULATION=y
CONFIG_DRM_FBDEV_OVERALLOC=100
CONFIG_DRM_FBDEV_LEAK_PHYS_SMEM=y
CONFIG_DRM_DISPLAY_HELPER=m
CONFIG_DRM_DISPLAY_DP_HELPER=y
CONFIG_DRM_GEM_DMA_HELPER=m
CONFIG_DRM_PANEL=y
CONFIG_DRM_BRIDGE=y
CONFIG_DRM_PANEL_BRIDGE=y
CONFIG_DRM_ZYNQMP_DPSUB=m
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=y

# Things I turned on
CONFIG_DRM_DP_AUX_CHARDEV=y
CONFIG_DRM_DP_CEC=y

# not in v6.6
#CONFIG_DRM_MIPI_DSI=y
#CONFIG_DRM_DISPLAY_HDMI_HELPER=y
#CONFIG_DRM_XLNX=m
#CONFIG_DRM_XLNX_BRIDGE=m
#CONFIG_DRM_XLNX_BRIDGE_DEBUG_FS=m
#CONFIG_DRM_XLNX_DSI=m
#CONFIG_DRM_XLNX_MIXER=m
#CONFIG_DRM_XLNX_PL_DISP=m
#CONFIG_DRM_XLNX_SDI=m
#CONFIG_DRM_XLNX_BRIDGE_CSC=m
#CONFIG_DRM_XLNX_BRIDGE_SCALER=m
#CONFIG_DRM_XLNX_BRIDGE_VTC=m
#CONFIG_DRM_XLNX_HDCP=m
#CONFIG_DRM_NOMODESET=m
#CONFIG_DRM_DW_HDMI_GP_AUDIO=m
