# Selecting the config of ARCH_ZYNQMP platform support is not enough to
#   get decent support for zynqmp boards

# Already set in defconfig but may not be in other base configs

# already set in ross-v2
CONFIG_VIDEO_CMDLINE=y
CONFIG_VIDEO_NOMODESET=y

# You must decide if you want the filter or not
# if y then many options are auto-selected and disappear from the CONFIG_ space
# here we have chosen not to turn it on and selected the individual options
# if you turn this on, many of the lines below will become noop and you will
# not find them in the output but are still selected
#CONFIG_MEDIA_SUPPORT_FILTER=y

# in defconfig but not in ross-v2
CONFIG_V4L_PLATFORM_DRIVERS=y
CONFIG_MEDIA_PLATFORM_DRIVERS=y
CONFIG_MEDIA_SUPPORT=m
CONFIG_MEDIA_CAMERA_SUPPORT=y
CONFIG_MEDIA_SUBDRV_AUTOSELECT=y
CONFIG_MEDIA_CONTROLLER=y
CONFIG_MEDIA_USB_SUPPORT=y
CONFIG_VIDEO_DEV=m
CONFIG_VIDEO_V4L2_I2C=y
CONFIG_VIDEO_V4L2_SUBDEV_API=y
CONFIG_V4L2_FWNODE=m
CONFIG_V4L2_ASYNC=m
CONFIG_V4L2_CCI=m
CONFIG_V4L2_CCI_I2C=m
CONFIG_USB_VIDEO_CLASS=m
CONFIG_USB_VIDEO_CLASS_INPUT_EVDEV=y
CONFIG_VIDEOBUF2_CORE=m
CONFIG_VIDEOBUF2_V4L2=m
CONFIG_VIDEOBUF2_MEMOPS=m
CONFIG_VIDEOBUF2_DMA_CONTIG=m
CONFIG_VIDEOBUF2_VMALLOC=m

CONFIG_RC_CORE=m
CONFIG_VIDEO_IR_I2C=m
CONFIG_VIDEO_CAMERA_SENSOR=y

# Bring in some module for CCI
# This is a Sony sensor not associated with NXP iMX*
CONFIG_VIDEO_IMX290=m

# in defconfig but must be selected by a module that is not in our group
#CONFIG_V4L2_H264=m
#CONFIG_V4L2_VP9=m
#CONFIG_VIDEOMODE_HELPERS=y
#CONFIG_V4L2_MEM2MEM_DEV=m
#CONFIG_VIDEOBUF2_DMA_SG=m

########
# not set in defconfig below here

# V4L2 stuff
CONFIG_VIDEO_XILINX=m
CONFIG_VIDEO_XILINX_CSI2RXSS=m
CONFIG_VIDEO_XILINX_TPG=m
CONFIG_VIDEO_XILINX_VTC=m
