# Selecting the config of ARCH_ZYNQMP platform support is not enough to
#   get decent support for zynqmp boards

######### already in the baseline from ross

CONFIG_ARCH_ZYNQMP=y
CONFIG_ZYNQMP_FIRMWARE=y
CONFIG_PINCTRL_ZYNQMP=y
CONFIG_GPIO_ZYNQMP_MODEPIN=y
CONFIG_COMMON_CLK_ZYNQMP=y
CONFIG_ZYNQMP_POWER=y
CONFIG_ZYNQMP_PM_DOMAINS=y
CONFIG_SERIAL_XILINX_PS_UART=y
CONFIG_SERIAL_XILINX_PS_UART_CONSOLE=y

# MTD
CONFIG_MTD=y
CONFIG_MTD_OF_PARTS=y
CONFIG_MTD_BLKDEVS=y
CONFIG_MTD_BLOCK=y
CONFIG_MTD_SPI_NOR=y
CONFIG_MTD_SPI_NOR_USE_4K_SECTORS=y
CONFIG_MTD_SPI_NOR_SWP_DISABLE_ON_VOLATILE=y

# Ethernet
CONFIG_NET_VENDOR_XILINX=y
CONFIG_NET_VENDOR_CADENCE=y
CONFIG_DP83867_PHY=m

# SPI
CONFIG_SPI_MEM=y

# USB
CONFIG_USB_DWC3_XILINX=m
